parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: 7
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - src
        - tests
    symfony:
        container_xml_path: var/cache/dev/Lopi_KernelDevDebugContainer.xml
