parameters:
    level: 9
    bootstrapFiles:
        - vendor/autoload.php
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    symfony:
        container_xml_path: var/cache/dev/Lopi_KernelDevDebugContainer.xml
