{% extends 'base.html.twig' %}

{% block title %}Gifts{% endblock %}

{% block body %}
<div id="gift-app"></div>
{% endblock %}

{% block javascripts %}
	<script>
		window.currentPageName = 'gift';
	</script>
	{{ parent() }}
	{{ encore_entry_script_tags('gift') }}
{% endblock %}
