<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Gift App{% endblock %}</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
    <div id="header"></div>
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    <div id="footer"></div>
    {% block javascripts %}
      <script>
        window.user = {{ app.user|jsonld }};
        window.lopiConfig = {
          pagination: {
            items_per_page: {{ pagination_items_per_page }},
          }
        };
      </script>
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
