{% extends 'base.html.twig' %}

{% block title %}Gift - My profile{% endblock %}

{% block body %}
<div id="my-profile-app"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('my-profile') }}
{% endblock %}
